@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPageBase>

<!doctype html>
<html class="" lang="en-GB">
<head>
    @(await Component.InvokeAsync("HeadMeta", new { currentPage = Model }))

    <script defer="defer" src="/dist/static/js/main.1e474f77.js"></script>
    <link href="/dist/static/css/main.9bde9a90.css" rel="stylesheet">

</head>
<body>
    @RenderBody()
</body>
</html>
