@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPageBase>
@inject Website.Services.AssetsService _assetsService;

<!doctype html>
<html class="" lang="en-GB">
<head>
    @(await Component.InvokeAsync("HeadMeta", new { currentPage = Model }))

    <script src="@_assetsService.GetFileLocationFromManifest("main.js")" defer="defer"></script>
    <link href="@_assetsService.GetFileLocationFromManifest("main.css")" rel="stylesheet">

</head>
<body>
    @RenderBody()
</body>
</html>
