<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f5b781d-8701-4683-8f5c-1120015feac5" Alias="Recipes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Recipes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-04T16:57:57</CreateDate>
    <NodeName Default="Recipes" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>