<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ad61787-7a5c-49af-be09-7ea723a22bee" Alias="Tofu Scramble" Level="3">
  <Info>
    <Parent Key="91366f60-d89e-4494-a198-5b93b8c0d38a">Tofu Scramble</Parent>
    <Path>/Recipes/TofuScramble/TofuScramble</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-04T16:58:32</CreateDate>
    <NodeName Default="Tofu Scramble" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qelnncs2/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>