<?xml version="1.0" encoding="utf-8"?>
<Media Key="91366f60-d89e-4494-a198-5b93b8c0d38a" Alias="Tofu Scramble" Level="2">
  <Info>
    <Parent Key="5f5b781d-8701-4683-8f5c-1120015feac5">Recipes</Parent>
    <Path>/Recipes/TofuScramble</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-02-04T16:58:09</CreateDate>
    <NodeName Default="Tofu Scramble" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>