<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f2c3afc-cd45-4d61-9dce-9dc4a729a6dd" Alias="recipes" Level="2">
  <Info>
    <Name>Recipes</Name>
    <Icon>icon-folder-open color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="760fe1bd-63a0-443a-8721-3bbfbd4ab93a" SortOrder="0">recipePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>