<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d004dd4c-857b-4cd1-b2cb-ad7b2083eba7" Alias="Method Item - Steps - Block List" Level="1">
  <Info>
    <Name>Method Item - Steps - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "20d80b8d-f351-4128-afc5-85257f711cc2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": true,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>