<?xml version="1.0" encoding="utf-8"?>
<Content Key="f34d4fd0-4663-41cc-9e2d-789cf44f3a86" Alias="Biscuits" Level="3">
  <Info>
    <Parent Key="980fa51d-474e-4484-96fa-a0f58a949495">Bookmarks</Parent>
    <Path>/Home/Bookmarks/Biscuits</Path>
    <Trashed>false</Trashed>
    <ContentType>bookmarkSection</ContentType>
    <CreateDate>2023-03-08T22:23:55</CreateDate>
    <NodeName Default="Biscuits" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>