<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e159591-5ad3-43e1-bf23-7776c3146047" Alias="Breakfasts" Level="2">
  <Info>
    <Parent Key="7b788aff-3506-45cf-b3f1-ad81e74e7676">Home</Parent>
    <Path>/Home/Breakfasts</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2023-03-28T22:57:32</CreateDate>
    <NodeName Default="Breakfasts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81a79128-8750-411a-b884-17076961a516">CategoryPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/379941a56e46458bb43c4830e6dea3cd]]></Value>
    </categories>
    <pageHeading>
      <Value><![CDATA[]]></Value>
    </pageHeading>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subheading>
      <Value><![CDATA[The most important meal of the day]]></Value>
    </subheading>
  </Properties>
</Content>