<?xml version="1.0" encoding="utf-8"?>
<Content Key="38b635d3-e884-41d6-b3d5-2875472c6d8b" Alias="Breads" Level="3">
  <Info>
    <Parent Key="980fa51d-474e-4484-96fa-a0f58a949495">Bookmarks</Parent>
    <Path>/Home/Bookmarks/Breads</Path>
    <Trashed>false</Trashed>
    <ContentType>bookmarkSection</ContentType>
    <CreateDate>2023-02-28T21:02:06</CreateDate>
    <NodeName Default="Breads" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>