<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6a04a9a-2d2c-4af5-b450-41f9318f7bb1" Alias="Dinner" Level="3">
  <Info>
    <Parent Key="eb8e36f6-a667-4cfc-858a-154bfb6d7088">Categories</Parent>
    <Path>/Settings/Categories/Dinner</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-03-28T22:29:35</CreateDate>
    <NodeName Default="Dinner" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>