<?xml version="1.0" encoding="utf-8"?>
<Content Key="722dcd4c-92ab-426d-a925-c5408103c9d7" Alias="Dinners" Level="2">
  <Info>
    <Parent Key="7b788aff-3506-45cf-b3f1-ad81e74e7676">Home</Parent>
    <Path>/Home/Dinners</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2023-03-28T22:29:55</CreateDate>
    <NodeName Default="Dinners" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81a79128-8750-411a-b884-17076961a516">CategoryPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/e6a04a9a2d2c4af5b45041f9318f7bb1]]></Value>
    </categories>
    <pageHeading>
      <Value><![CDATA[]]></Value>
    </pageHeading>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subheading>
      <Value><![CDATA[Check out some of our great dinner recipes]]></Value>
    </subheading>
  </Properties>
</Content>