<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b788aff-3506-45cf-b3f1-ad81e74e7676" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-01-20T16:09:13</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9bea61f5-c6e3-47b3-bfad-933ecfdb2cf0">HomePage</Template>
  </Info>
  <Properties>
    <pageHeading>
      <Value><![CDATA[Welcome to Whistle Kitchen!]]></Value>
    </pageHeading>
    <recipeListHeading>
      <Value><![CDATA[Recipes]]></Value>
    </recipeListHeading>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <websiteName>
      <Value><![CDATA[Whistle Kitchen]]></Value>
    </websiteName>
  </Properties>
</Content>