<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5fb437b-3923-416d-8222-11120d42ec76" Alias="Homemade Subway Bread Recipe" Level="4">
  <Info>
    <Parent Key="38b635d3-e884-41d6-b3d5-2875472c6d8b">Breads</Parent>
    <Path>/Home/Bookmarks/Breads/HomemadeSubwayBreadRecipe</Path>
    <Trashed>false</Trashed>
    <ContentType>bookmark</ContentType>
    <CreateDate>2023-02-28T21:03:06</CreateDate>
    <NodeName Default="Homemade Subway Bread Recipe" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <created>
      <Value><![CDATA[]]></Value>
    </created>
    <ipAddress>
      <Value><![CDATA[]]></Value>
    </ipAddress>
    <url>
      <Value><![CDATA[https://www.blessthismessplease.com/homemade-subway-bread-recipe]]></Value>
    </url>
  </Properties>
</Content>