<?xml version="1.0" encoding="utf-8"?>
<Content Key="a105c9ea-a7de-43d3-b7a3-21ddf219b85a" Alias="Pizza" Level="3">
  <Info>
    <Parent Key="5c52ac2d-ef58-4b4f-be8c-c7ca544cbaee">Recipes</Parent>
    <Path>/Home/Recipes/Pizza</Path>
    <Trashed>false</Trashed>
    <ContentType>recipePage</ContentType>
    <CreateDate>2023-01-20T16:11:55</CreateDate>
    <NodeName Default="Pizza" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad7d597f-963b-4ffb-9e58-de31e7a19e52">RecipePage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <description>
      <Value><![CDATA[Pizza base and pizza sauce]]></Value>
    </description>
    <heading>
      <Value><![CDATA[]]></Value>
    </heading>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <ingredients>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d226c96859324a0bb0669e28b838070c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c99950d3-ed07-451c-8c81-d97b8f6672e4",
      "udi": "umb://element/d226c96859324a0bb0669e28b838070c",
      "ingredients": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/3dd2e15dcd8549c49addc018ec169861\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/2b32bf856c1c403895a23818aa79766d\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"56fd646a-bee8-49c2-959c-0770bb43a664\",\r\n      \"udi\": \"umb://element/3dd2e15dcd8549c49addc018ec169861\",\r\n      \"measurement\": \"can\",\r\n      \"ingredientName\": \"Chopped tomatoes\",\r\n      \"amount\": \"1\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"56fd646a-bee8-49c2-959c-0770bb43a664\",\r\n      \"udi\": \"umb://element/2b32bf856c1c403895a23818aa79766d\",\r\n      \"measurement\": \"cloves\",\r\n      \"ingredientName\": \"Garlic\",\r\n      \"amount\": \"2\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </ingredients>
    <method>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/da438a1a4a2149ba8623befa6aebfa96"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c981d6f9-1795-45b6-bddc-1cdec0b31be3",
      "udi": "umb://element/da438a1a4a2149ba8623befa6aebfa96",
      "steps": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/8e09cdcb3cf54bf188221796883b490e\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/63ceeed510a74645957a2b66282ca93a\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"20d80b8d-f351-4128-afc5-85257f711cc2\",\r\n      \"udi\": \"umb://element/8e09cdcb3cf54bf188221796883b490e\",\r\n      \"description\": \"<p>Blend things together</p>\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"20d80b8d-f351-4128-afc5-85257f711cc2\",\r\n      \"udi\": \"umb://element/63ceeed510a74645957a2b66282ca93a\",\r\n      \"description\": \"<p>It's ready!</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </method>
    <notes>
      <Value><![CDATA[]]></Value>
    </notes>
    <ovenTemperature>
      <Value><![CDATA[240deg / Gas mark 7]]></Value>
    </ovenTemperature>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <serves>
      <Value><![CDATA[2]]></Value>
    </serves>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <timeToCook>
      <Value><![CDATA[15 mins]]></Value>
    </timeToCook>
    <timeToPrepare>
      <Value><![CDATA[1 day]]></Value>
    </timeToPrepare>
  </Properties>
</Content>