<?xml version="1.0" encoding="utf-8"?>
<Content Key="544fb64e-4351-4d15-ae56-e6370a8ebcc9" Alias="Quick" Level="3">
  <Info>
    <Parent Key="eb8e36f6-a667-4cfc-858a-154bfb6d7088">Categories</Parent>
    <Path>/Settings/Categories/Quick</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-01-20T23:11:14</CreateDate>
    <NodeName Default="Quick" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>