<?xml version="1.0" encoding="utf-8"?>
<Content Key="af24f07e-9f80-4a89-b0fb-678a30539525" Alias="Quick breakfasts" Level="2">
  <Info>
    <Parent Key="7b788aff-3506-45cf-b3f1-ad81e74e7676">Home</Parent>
    <Path>/Home/QuickBreakfasts</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2023-03-28T22:58:33</CreateDate>
    <NodeName Default="Quick breakfasts" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="81a79128-8750-411a-b884-17076961a516">CategoryPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/544fb64e43514d15ae56e6370a8ebcc9,umb://document/379941a56e46458bb43c4830e6dea3cd]]></Value>
    </categories>
    <pageHeading>
      <Value><![CDATA[]]></Value>
    </pageHeading>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subheading>
      <Value><![CDATA[]]></Value>
    </subheading>
  </Properties>
</Content>