<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c52ac2d-ef58-4b4f-be8c-c7ca544cbaee" Alias="Recipes" Level="2">
  <Info>
    <Parent Key="7b788aff-3506-45cf-b3f1-ad81e74e7676">Home</Parent>
    <Path>/Home/Recipes</Path>
    <Trashed>false</Trashed>
    <ContentType>recipes</ContentType>
    <CreateDate>2023-01-20T16:09:20</CreateDate>
    <NodeName Default="Recipes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>