<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a25ea1a-b0e9-4629-90e3-5f08c1f732b5" Alias="Slow-cooker" Level="3">
  <Info>
    <Parent Key="eb8e36f6-a667-4cfc-858a-154bfb6d7088">Categories</Parent>
    <Path>/Settings/Categories/SlowCooker</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2023-01-20T23:11:02</CreateDate>
    <NodeName Default="Slow-cooker" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>