<?xml version="1.0" encoding="utf-8"?>
<Content Key="db821927-233b-4ce1-af92-b54f1f95855f" Alias="Tofu Scramble" Level="3">
  <Info>
    <Parent Key="5c52ac2d-ef58-4b4f-be8c-c7ca544cbaee">Recipes</Parent>
    <Path>/Home/Recipes/TofuScramble</Path>
    <Trashed>false</Trashed>
    <ContentType>recipePage</ContentType>
    <CreateDate>2023-01-21T15:22:07</CreateDate>
    <NodeName Default="Tofu Scramble" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad7d597f-963b-4ffb-9e58-de31e7a19e52">RecipePage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <description>
      <Value><![CDATA[Great as part of a full english breakfast, or just with toast!]]></Value>
    </description>
    <heading>
      <Value><![CDATA[]]></Value>
    </heading>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <ingredients>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e418eabdd7d442fb943c131f8c24d8b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c99950d3-ed07-451c-8c81-d97b8f6672e4",
      "udi": "umb://element/e418eabdd7d442fb943c131f8c24d8b5",
      "ingredients": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/8ba4f753cbfa47e5b018925ae2fa25d5\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"56fd646a-bee8-49c2-959c-0770bb43a664\",\r\n      \"udi\": \"umb://element/8ba4f753cbfa47e5b018925ae2fa25d5\",\r\n      \"description\": \"Onion\",\r\n      \"measurement\": \"1/2\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </ingredients>
    <method>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/18c73ee8876749259151f1d4b34d0e9f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c981d6f9-1795-45b6-bddc-1cdec0b31be3",
      "udi": "umb://element/18c73ee8876749259151f1d4b34d0e9f",
      "heading": "",
      "steps": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/4ae13a2ff9fa45f8a91cad71895a75fb\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"20d80b8d-f351-4128-afc5-85257f711cc2\",\r\n      \"udi\": \"umb://element/4ae13a2ff9fa45f8a91cad71895a75fb\",\r\n      \"description\": \"<p>Fry the onion</p>\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </method>
    <notes>
      <Value><![CDATA[]]></Value>
    </notes>
    <ovenTemperature>
      <Value><![CDATA[]]></Value>
    </ovenTemperature>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <serves>
      <Value><![CDATA[3]]></Value>
    </serves>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <timeToCook>
      <Value><![CDATA[]]></Value>
    </timeToCook>
    <timeToPrepare>
      <Value><![CDATA[15 mins]]></Value>
    </timeToPrepare>
  </Properties>
</Content>