@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/colours";
@use '../../styles/fonts';

.button {
    text-decoration: none;
    padding: toRem(8) toRem(16);

    font-family: fonts.$primary;
    font-size: toRem(fonts.$mobile-body-size);

    border: toRem(1) colours.$green solid;
    color: colours.$green;
    background-color: colours.$white;
    transition: all 0.2s $transition;

    & > span {
        margin-top: toRem(8);

    }

    &:hover {
        color: colours.$white;
        background-color: colours.$green;
    }
}