@use '../../styles/functions' as *;
@use '../../styles/breakpoints' as *;
@use '../../styles/variables' as *;
@use '../../styles/colours';
@use '../../styles/fonts';

$button-radius: 25px;

.recipe-details-toggler {
    position: relative;
    height: 87vh;
    overflow-y: hidden;

    &__ingredients,
    &__method {
        height: calc(100% - toRem(58));
        overflow-y: scroll;
    }

    &__ingredients {

        background-color: colours.$white;

        & .heading {
            color: colours.$blue;
        }

        & .recipe-details-card__body {
            color: colours.$blue;
        }
    

    }

    .some-overlay  {
        position: fixed; 
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(47, 47, 47, 0.7);

        display: none;
        cursor: pointer;

        & button {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &.is-open {
            display: block;
        }
    }

    &__method {
        background-color: colours.$blue;
        position: absolute;
        top: 100%;
        left: 0;
        transition: top 0.2s $transition;
        
        border: colours.$white 2px solid;
        border-radius: toRem(40);

        overflow-y: hidden;

        & .recipe-details-card {
            height: 100%;
        }

        & .recipe-details-card__body {
            overflow-y: auto;
            height: calc(100% - toRem(160));
        }

        & .heading {
            color: colours.$white;
        }
    
        &.is-open {
            top: 10%;
        }
    }

    &__open-button {
        position: absolute;
        bottom: toRem(0);
        height: toRem(60);
        width: 100%;
        background-color: colours.$white;

        z-index: 100;

        & button {
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            border: none;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: colours.$blue;
            color: colours.$white;

            transition: all 0.2s $transition;
            transition-delay: 0.2s;

            border-radius: $button-radius $button-radius 0 0;

            cursor: pointer;
        }

        &.is-open {

            & button {
                border-top: colours.$white toRem(0.5) solid;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
        }

    }
}