@use '../../styles/functions' as *;
@use '../../styles/breakpoints' as *;
@use '../../styles/colours';
@use '../../styles/fonts';

.page-heading {
    background-color: colours.$green;
    color: colours.$white;
    padding: toRem(52) toRem(16) toRem(16) toRem(16);

    .heading {
        font-size: toRem(28);
    }

    @include desktop {
        padding: toRem(128) toRem(128) toRem(72) toRem(64);
    }

    &__subheading {
        display: none;
    }
}