<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6691a33d-0f69-415f-8a57-e40d27f74314" Alias="bookmarkSection" Level="2">
  <Info>
    <Name>Bookmark Section</Name>
    <Icon>icon-book-alt-2 color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="426599be-0c62-4c35-9086-962008b67917" SortOrder="0">bookmark</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>