<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd805ac3-6593-40a1-8a42-d3927ded157c" Alias="bookmarksPage" Level="2">
  <Info>
    <Name>Bookmarks Page</Name>
    <Icon>icon-books color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9d4f83b7-71c3-4206-b42e-c3bd7054d7f0">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>BookmarksPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2fca4261-5e74-44b9-875e-ef30268d351e">BookmarksPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6691a33d-0f69-415f-8a57-e40d27f74314" SortOrder="0">bookmarkSection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>