<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="586ef57f-6503-4752-83e4-9e429f1e77ba" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9d4f83b7-71c3-4206-b42e-c3bd7054d7f0">pageBase</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9bea61f5-c6e3-47b3-bfad-933ecfdb2cf0">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5f2c3afc-cd45-4d61-9dce-9dc4a729a6dd" SortOrder="0">recipes</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>12ea1063-f583-4a12-8410-a21ddc92f152</Key>
      <Name>Website Name</Name>
      <Alias>websiteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used in the title in the browser window.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5e3c2749-2c5d-4aab-9626-22d8e9ec8e53</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>