<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb8e36f6-a667-4cfc-858a-154bfb6d7088" Alias="Categories" Level="2">
  <Info>
    <Parent Key="678458d0-491c-4600-932d-bada55efdefb">Settings</Parent>
    <Path>/Settings/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2023-01-20T23:10:50</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>