<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2c2796f-71fc-4444-a256-e5ac1c72cc2e" Alias="Ingredients - Ingredients - Block List" Level="1">
  <Info>
    <Name>Ingredients - Ingredients - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "56fd646a-bee8-49c2-959c-0770bb43a664",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Ingredient - {{ingredientName}} - {{amount}} {{measurement}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": true,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>