<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57f8bdfb-6536-4ed0-9d66-182115e616e7" Alias="Ingredients Section - Ingredients - Repeatable textstrings" Level="1">
  <Info>
    <Name>Ingredients Section - Ingredients - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 1
}]]></Config>
</DataType>