<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b41b4bf2-48d0-4614-87a5-6a6b10460f89" Alias="MNTP for Categories" Level="1">
  <Info>
    <Name>MNTP for Categories</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "category",
  "IgnoreUserStartNodes": true,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/eb8e36f6a6674cfc858a154bfb6d7088",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>